<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>自転車申請フォーム</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>

    <header>
        <!-- ナビゲーションバー -->
        <div class="navbar">
            <a th:href="@{/route}">経路探索</a>
            <a th:href="@{/applytravel}">出張代申請</a>
            <a th:href="@{/applypass}">定期代申請</a>
            <a th:href="@{/applybicycle}" class="active">自転車申請</a>
            <a th:href="@{/residence}">住居・身上登録</a>
        </div>
        <h1>自転車申請フォーム</h1>
    </header>

    <form action="/checkbicycle" method="post" enctype="multipart/form-data">
        <label for="application-date">申請日：</label>
        <input type="date" id="application-date" name="applicationDate" required>

        <label for="employee-number">社員番号：</label>
        <input type="text" id="employee-number" name="employeeNumber" required>

        <label for="name">氏名：</label>
        <input type="text" id="name" name="name" required>

        <label for="name-furigana">氏名（フリガナ）：</label>
        <input type="text" id="name-furigana" name="nameFurigana" required>

        <label for="department">所属：</label>
        <input type="text" id="department" name="department" required>

        <label for="address">現住所：</label>
        <input type="text" id="address" name="address" required>

        <label for="subsidy-amount">支給金額：</label>
        <input type="number" id="subsidy-amount" name="subsidyAmount" required>

        <label for="parking-proof">駐輪場契約証明書（契約制でない場合は駐輪場住所）：</label>
        <input type="file" id="parking-proof" name="parkingProof" accept="image/*,application/pdf" required>

        <label for="insurance-proof">自転車保険加入証明書：</label>
        <input type="file" id="insurance-proof" name="insuranceProof" accept="image/*,application/pdf" required>

        <button type="submit">入力内容確認へ</button>
    </form>

</body>

</html>
