<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>住居・身上確認書 - 確認</title>
    <link rel="stylesheet" th:href="@{/css/check.css}">
</head>

<body>
    <div class="container">
        <h2>入力内容の確認</h2>
        <form action="/submit" method="post">
            <dl>
                <dt>フリガナ</dt>
                <dd><span th:text="${session.furigana}"></span></dd>

                <dt>氏名</dt>
                <dd><span th:text="${session.name}"></span></dd>
                
                <dt>社員番号</dt>
                <dd><span th:text="${session.employeeNumber}"></span></dd>

				<dt>住所</dt>
                <dd><span th:text="${session.address}"></span></dd>

                <dt>住所フリガナ</dt>
                <dd><span th:text="${session.addressFurigana}"></span></dd>

                <dt>通勤経路</dt>
                <dd><span th:text="${session.commuteRoute}"></span></dd>

                <dt>自転車使用希望</dt>
                <dd><span th:text="${session.bicycleUse}"></span></dd>

                <dt>バス使用経路</dt>
                <dd><span th:text="${session.busRoute}"></span></dd>
            </dl>

            <div class="buttons">
                <button type="button" class="cancel" onclick="history.back()">修正する</button>
                <button type="submit">送信する</button>
            </div>
        </form>
    </div>
</body>

</html>
